<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ristorante AI</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=12">
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', filename='js/main.js') }}?v=12"></script>
  <script src="{{ url_for('static', filename='js/dashboard_app.js') }}?v=12"></script>
</body>
</html>
